@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-screen hidden flex-row gap-[2vw] items-stretch justify-end p-2 rounded-2xl bg-gray-900 bg-opacity-50;
	backdrop-filter: acrylic;
}

p,
.wave {
	@apply text-shadow-md;
}

.wave {
	@apply fill-sky-800 h-[25vh] w-[8vw];

	.wave1 {
		animation-delay: 0.6s;
	}
	.wave2 {
		animation-delay: 0.3s;
	}
	.wave3 {
		animation-delay: 0.45s;
	}
	.wave4 {
		animation-delay: 0.15s;
	}
	.wave5 {
		animation-delay: 0.3s;
	}
}

@for $i from 1 through 5 {
	.wave#{$i} {
		transform: scaleY(0);
		transform-origin: bottom;
		animation: scale 0.6s infinite;
	}
}

@keyframes scale {
	0% {
		transform: scaleY(0.25);
	}
	16% {
		transform: scaleY(0.5);
	}
	33% {
		transform: scaleY(0.75);
	}
	50% {
		transform: scaleY(1);
	}
	75% {
		transform: scaleY(0.75);
	}
	100% {
		transform: scaleY(0.5);
	}
}

@layer components {
	@responsive {
		.text-shadow {
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.text-shadow-md {
			text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
		}

		.text-shadow-lg {
			text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11),
				0 5px 15px rgba(0, 0, 0, 0.08);
		}

		.text-shadow-none {
			text-shadow: none;
		}
	}
}
