---
import Link from '~/components/Link.astro'
import PageLayout from '~/layouts/MainLayout.astro'
import { appInfo } from '~/utils'
---

<PageLayout title="Home">
	<div class="flex flex-col items-center">
		<h1 class="mb-2 text-9xl font-extrabold">404</h1>
		<p class="mb-12 text-3xl">Not found :(</p>
		<Link
			href={appInfo.urlBase}
			styles="text-3xl duration-150 ease-in-out scale-90 hover:scale-100"
		>
			Return to Homepage
		</Link>
	</div>
</PageLayout>
