---
import PageLayout from '~/layouts/PageLayout.astro'

import WidgetCard from '~/components/WidgetCard.astro'
import type { Props as WindgetCardProps } from '~/components/WidgetCard.astro'

import { Content as Text } from '~/md/homepage.md'
import MarkdownWrapper from '~/components/MarkdownWrapper.astro'

const widgets: WindgetCardProps[] = [
	{
		title: 'Now Playing (Tuna)',
		description: 'Now Playing Overlay. Uses Tuna',
		href: '/obs-widgets/now-playing-tuna/',
		previewImage: ''
	}
]
---

<PageLayout title="Home">
	<MarkdownWrapper>
		<Text />
	</MarkdownWrapper>

	<nav class="mt-4 flex flex-wrap items-center justify-evenly">
		{widgets.map((props) => <WidgetCard {...props} />)}
	</nav>
</PageLayout>
