---
import PageLayout from '~/layouts/PageLayout.astro'
---

<PageLayout title="Home">
	<ul>
		<li><a href="/obs-widgets/now-playing-tuna">Now Playing (Tuna)</a></li>
		<li><a href="/obs-widgets/rgb-border">RGB Border</a></li>
	</ul>
</PageLayout>
