---
import AppLayout from '~/layouts/AppLayout.astro'
---

<style is:global lang="scss">
	@property --angle {
		syntax: '<angle>';
		initial-value: 0deg;
		inherits: false;
	}

	#border {
		@apply h-screen rounded-xl border-[1.2rem];

		--angle: 0deg;
		border-image: conic-gradient(
				from var(--angle),
				red,
				yellow,
				lime,
				aqua,
				blue,
				magenta,
				red
			)
			1;

		animation: 10s linear infinite;
	}

	@keyframes rotate {
		to {
			--angle: 360deg;
		}
	}
</style>

<AppLayout title="RGB Border">
	<div id="border"></div>
</AppLayout>
