---
export interface Props {
	href: string
	styles?: string
}

const { href, styles } = Astro.props
---

<a
	href={href}
	class:list={[
		'text-cyan-600 underline hover:text-cyan-600 dark:text-cyan-400',
		styles
	]}
>
	<slot />
</a>
